body {
  background-color: #f6f6f6;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Verdana, sans-serif;
  margin: 0;
  padding: 0;
  /* Définit la hauteur minimale pour que le contenu occupe tout l'écran */
  min-height: 100vh;
  /* Améliore le lissage des polices pour une meilleure lisibilité */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Définit la taille par défaut du texte */
  font-size: 16px;
  /* Définit un comportement fluide pour le défilement */
  box-sizing: border-box;
}
a {
  color: black !important;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}
ul {
  list-style-type: none;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

/* Modification du header */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  background-color: #0f0f0f;
}
.Logo {
  max-width: 70px;
  width: 100%;
  height: auto;
  object-fit: contain;
  padding: 0;
  border-radius: 100%;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 3rem;
}
.nav__logo {
  color: white !important;
  font-size: 30px;
  font-weight: bold;
}
.nav__menu {
  position: fixed;
  bottom: 1rem;
  border-radius: 4rem;
  width: 40%;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #cacaca;
  box-shadow: 1px 1px 4px 3px rgba(0, 0, 0, 0.26);
}
.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.nav__item {
  padding: 0px 1.5em;
}

/* Classe global pour la balise main */
main {
  margin-top: 12rem; /* Espace correspondant à la hauteur du header */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* modification de la premiere section */
.firstSection {
  text-align: center;
  width: 100%;
  margin-bottom: 50px;
}
.imageSectionFirst {
  max-width: 30%;
  width: 100%;
  height: auto;
}
.button {
  margin-top: 3rem;
}
button,
.buttonInput {
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  box-shadow: 4px 4px 0px black;
  transition: all 0.2s ease;
  padding: 1rem 2rem;
  margin: 2rem 8rem;
}
/* Style pour l'effet au survol */
button:hover,
.buttonInput:hover {
  color: #fff;
  background-color: #0f0f0f; /* Change la couleur de fond au survol */
}
button:active,
.buttonInput:active {
  box-shadow: none;
  transform: translateY(4px);
}
button:hover .button-text {
  transform: rotateY(360deg); /* Fait tourner le texte à 360 degrés */
}
.button-text {
  display: inline-block; /* Permet de transformer/rotater l'élément */
  transition: transform 1s ease-in-out; /* Transition fluide pour la rotation */
}

/* modification de la deuxieme section */
.secondSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-bottom: 50px;
}
.titre {
  display: flex;
  justify-content: center;
  font-size: 18px;
  margin-top: 6rem;
}
.titreh4 {
  display: flex;
  justify-content: center;
  margin-top: 0;
  font-size: 30px;
}
.placementSecondSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.placementTextPresentation {
  line-height: 2rem;
}
.info {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 6rem;
  z-index: -15;
}

/* Effet de vague sur les block travail déquipe, autonomie et créatif.*/
.wave-btn {
  color: white;
  padding: 1.25rem 1.25rem;
  border-radius: 30%;
  position: relative;
  overflow: hidden;
  box-shadow: 4px 4px 0px black;
  border: solid 2px black;
}
.wave {
  background-color: #0f0f0f;
  width: 100%;
  height: 5rem;
  position: absolute;
  bottom: 0;
  left: 0;
}
.wave::after,
.wave::before {
  content: '';
  position: absolute;
  left: -6.875rem;
  top: -23.75rem;
  border-radius: 40%;
  animation: animate 6s linear infinite;
  transition: 0.5s ease-in-out;
}
.wave::after {
  width: 250%;
  height: 25rem;
  background: white;
  animation-delay: 1.8s;
}
.wave::before {
  width: 28.125rem;
  height: 25rem;
  background-color: #0f0f0f;
  animation-delay: 1.8s;
}
.wave-text {
  position: relative;
}
/* Fin de la modification de vague */

.imgSecondSection {
  max-width: 430px;
  width: 100%;
  height: auto;
  object-fit: contain;
  padding: 0;
  border-radius: 100%;
}
.block-secondSection {
  margin: 2rem;
}
/* modification de la troisième partie */
h5 {
  text-align: center;
  font-size: 18px;
}
.troisiemeBlock {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 6rem;
}
.globalBlock {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin: 2rem 0;
}
.textBlock {
  display: flex;
  flex-direction: column;
}
.firstBlockToLigne,
.secondBlockToLigne,
.fourBlockToLigne,
.fiveBlockToLigne {
  padding-bottom: 2rem;
}
.styleText {
  font-weight: 600;
  padding-top: 0.5rem;
}

.fa-brands.fa-html5,
.fa-brands.fa-css3-alt,
.fa-brands.fa-square-js,
.fa-brands.fa-wordpress,
.fa-solid.fa-shuttle-space,
.fa-brands.fa-php,
.fa-brands.fa-figma,
.fa-regular.fa-keyboard,
.fa-solid.fa-code {
  font-size: 26px !important;
}

.firstBlock,
.secondBlock,
.threeBlock {
  max-width: 30%;
  height: auto;
  width: 100%;
  border-radius: 4rem;
  background-color: #cacaca;
  box-shadow: inset 1px 1px 4px 3px rgba(0, 0, 0, 0.26);
}
.alignementFleche {
  display: flex;
}
.fa-solid.fa-angle-right {
  padding-right: 0.5rem;
}

/* ajout de la quatrieme section */
/* Style général */
.carousel-container {
  width: 100%;
  margin: 6rem auto;
  text-align: center;
  z-index: -10;
}
.titre,
.titreh4 {
  margin-bottom: 0.5rem;
}
.carousel-3d {
  perspective: 950px;
  width: 100%;
  height: 400px;
}
.carousel-3d-track {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s ease;
}
.carousel-3d-slide {
  position: absolute;
  transform-origin: center center;
  transform-style: preserve-3d;
  text-align: center;
  width: 400px; /* Largeur des images du carousel */
  height: 215px;
  transform: translateX(-50%) translateY(-50%);
}
.carousel-3d-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.carousel-btn {
  position: absolute;
  transform: translateY(-50%);
  background-color: #cacaca;
  color: black;
  cursor: pointer;
  font-size: 18px;
  padding: 20px 25px;
  border-radius: 50%;
  z-index: 10;
}
#left {
  left: 20px;
}
#right {
  right: 20px;
}
.display {
  display: none;
}

/* modificcation du footer */
.fa-regular.fa-paper-plane {
  font-size: 24px;
}
.fa-brands.fa-whatsapp {
  font-size: 30px;
}
.grandContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3rem;
}
.contactContent {
  width: 25%;
  text-align: center;
  margin-top: 110px;
}
.contactInfo {
  border: solid 2px;
  padding: 2rem 0rem;
  border-radius: 15px;
  box-shadow: 4px 4px 0px black;
  background-color: whitesmoke;
}
.formContent {
  width: 60%;
  align-items: center;
}
h6 {
  font-size: 20px;
  text-align: center;
  margin: 20px;
}
form {
  align-items: center;
  border-radius: 20px;
  box-sizing: border-box;
  height: 450px;
  width: 100%;
  z-index: -5;
  background-image: url('../image/backgroundImage.jpg');
  background-size: cover;
}
.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}
.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}
.input-container {
  height: 50px;
  position: relative;
  width: 50%;
}
.ic1 {
  margin-top: 40px;
}
.ic2 {
  margin-top: 30px;
}
.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
.cut {
  background-color: #020401;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 100px;
}
.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}
.placeholder {
  color: #ffffffab;
  left: 15px;
  line-height: 8px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}
.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}
.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}
.input:focus ~ .placeholder {
  color: #dc2f55;
}
.buttonContact {
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  box-shadow: 4px 4px 0px black;
  transition: all 0.2s ease;
  padding: 15px;
  margin: 40px 20px;
  width: 30%;
}
.pieddepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 10rem;
  background-color: #0f0f0f;
  color: white;
  padding: 8rem;
}
.titrepied {
  text-align: center;
  font-weight: 800;
  font-size: 23px;
  border-bottom: solid 2px;
  margin: 2.5rem;
}
.blockpied {
  text-align: center;
  line-height: 6em;
}
.placementSecteurPage {
  padding: 3rem;
  font-size: 18px;
  color: white;
}


/* Modification pour les écrans égal ou plus petit que 900pixel */
@media all and (max-width: 900px) {
  .placementSecondSection {
    flex-direction: column;
  }
  .imgSecondSection {
    max-width: 350px;
    margin-bottom: 2rem;
  }
  .troisiemeBlock {
    flex-direction: column;
    align-items: center;
  }
  .firstBlock,
  .secondBlock,
  .threeBlock {
    max-width: 80% !important;
    margin-left: 0 !important;
    margin-right: 0;
    margin-bottom: 4rem;
  }
  .grandContent {
    flex-direction: column;
    width: 100%;
    margin-top: 6rem;
  }
  .contactContent {
    margin-top: 45px;
  }
  .contactContent {
    width: 50%;
    text-align: center;
    margin-top: 110px;
  }

  .carousel-container {
    display: none;
  }
  .display {
    display: flex;
    flex-direction: column;
  }
  .imagePortfolio {
    max-width: 100%;
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 20px;
  }
  .placementImage {
    display: flex;
    flex-direction: column;
    width: 85%;
    align-items: center;
    display: flex;
    margin: 4rem auto;
    border: solid 4px #0f0f0f;
    border-radius: 20px;
  }
}
/* Responsivité pour les tablettes (max-width: 768px) */
@media (max-width: 768px) {
  .carousel-3d {
    height: 350px;
  }

  .carousel-3d-slide {
    width: 250px; /* Réduire la taille des slides sur tablettes */
    height: 230px;
  }

  .carousel-btn {
    padding: 15px 20px; /* Réduire la taille des boutons de navigation */
  }
}

/* Responsivité pour les mobiles (max-width: 500px) */
@media (max-width: 500px) {
  .carousel-3d {
    height: 300px;
  }

  .carousel-3d-slide {
    width: 180px; /* Réduire la taille des slides sur mobiles */
    height: 180px;
  }

  .carousel-btn {
    padding: 12px 15px; /* Adapter la taille des boutons sur mobiles */
    font-size: 16px;
  }

  .titre,
  .titreh4 {
    font-size: 1.2rem; /* Ajuster la taille des titres sur mobiles */
  }
  form {
    background-size: contain !important;
  }
}
