/*modification général de la page*/
html,
body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.4;
}
a {
  text-decoration: none;
  color: black;
  margin-left: 4em;
  padding: 1em;
}
ul {
  list-style: none;
  padding: 0;
  /*display: flex;*/
}
.text-align-center {
  text-align: center;
}

/* modification du header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: #f0f0f2;
}

.img-header {
  max-width: 100%;
  height: auto;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 16px;
  cursor: pointer;
}

.hamburger .bar {
  height: 2px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
  transition: 0.3s;
}

/* Animation de l'icône hamburger */
.hamburger.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.open .bar:nth-child(3) {
  transform: rotate(-40deg) translate(5px, -5px);
}

@media (max-width: 768px) {
  a{
  margin-left: 0;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa;
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease-in-out;
  }

  nav ul.open {
    max-height: 350px; /* Ajustez la hauteur maximale selon le nombre d'éléments */
  }

  .hamburger {
    display: flex;
  }

  nav li {
    text-align: center;
    padding: 1em 0;
    width: 100%;
  }
}
